.AccountPane {
  &-content {
    padding: 6px;
  }

  .username {
    font-size: $font-size-xl;
    cursor: default;
    color: $color-canvas-selected;
  }

  .login-info {
    margin-bottom: 1em;
  }

  .dailyQuotas {
    font-size: $font-size-m;
    margin-bottom: 2em;
    cursor: default;

    .title {
      color: $color-canvas-selected;
    }
  }

  .inspectorInput {
    margin-bottom: 7px;
  }

  .whyLogin {
    margin-bottom: 7px;
  }

  .forgotPassword {
    color: $color-canvas-selected;
  }

  .ButtonsRow {
    margin-top: 1em;
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    .Button {
      padding: 10px;
      flex-grow: 1;
      flex-basis: 50%;
      text-align: center;
      box-sizing: border-box;

      &:first-child {
        margin-right: 6px;
      }
      &:last-child {
        margin-left: 6px;
      }
    }
  }
}
