.AccountPane {
  position: absolute;
  right: 0;
  width: 240px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: $sidebar-color-bg;
  border-left: 1px solid $sidebar-color-border;
  color: $sidebar-color-text;

  .close-button {
    @include close-button();
  }

  .username {
    font-size: $font-size-l;
    padding-bottom: 14px;
    cursor: default;
    color: $color-canvas-selected;
  }

  .dailyQuotas {
    font-size: $font-size-m;
    padding-bottom: 14px;
    cursor: default;

    .title {
      color: $color-canvas-selected;
      padding-bottom: 4px;
    }
  }

  .inspectorInput {
    margin-bottom: 7px;
  }

  .whyLogin {
    margin-bottom: 7px;
  }

  .authError {
    color: $color-error;
    margin-bottom: 3px;
  }

  .forgotPassword {
    color: $color-canvas-selected;
  }

  .ButtonsRow {
    margin-top: 9px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
  }
}
