.Breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 1px 3px 1px 8px;
  margin: 0;
  background: $color-tabs-active-background;

  &--codeEditor {}
  &--debugger {
    background: $color-tabs-debugger-background;

    .breadcrumbs-button {
      .fa {
        color: $error;
      }
    }
  }

  ul {
    display: block;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      padding: 0;
      margin: 0 8px 0 0;
      height: 21px;
    }

    button {
      position: relative;
      display: inline-block;
      background: $coal;
      border: none;
      color: $chalk;
      outline: none;
      cursor: pointer;

      box-sizing: border-box;
      min-width: 21px;
      height: 21px;
      padding: 0 8px;

      .hint {
        font-size: $font-size-s;
        opacity: .5;
        margin-left: .5em;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;

        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 6px solid $coal;
        border-right: 0;
        right: -6px;
      }

      &.back-button {
        background: transparent url('../assets/icons/back.svg') no-repeat 4px center;
        margin-right: -8px; // compensate big margin
        border-radius: 50%;
        margin-left: 3px;
        &:before { display: none }
        &:after { display: none }

        &:hover {
          background: rgba(255,255,255,.1) url('../assets/icons/back.svg') no-repeat 4px center !important;
        }
      }

      &:not(.is-active):hover {
        background: rgba(255,255,255,.1);
        color: $color-tabs-hover-text;
        &:after {
          border-left-color: rgba(255,255,255,.1);
        }
      }

      &.is-active {
        color: $color-canvas-selected !important;
        cursor: default !important;
      }
      &.is-tail {
        color: $button-border-color;
      }
    }
  }
}

.breadcrumbs-button {
  padding: 8px 15px 10px 15px;

  .fa {
    margin-right: 0.25em;
    line-height: 0;
  }
}
