.ColorPickerWidget {
  width: 220px;
}
.ColorPicker {
  padding: 10px 0;
  .HueSlider {
    path.marker {
      stroke-linecap: round;
    }
  }

  .ColorSlider_value, .ColorSlider_label,
  .HueSlider_value, .HueSlider_label {
    fill: $sidebar-color-text;
  }
}
