.Comment {
  // A slot should contain exactly three lines. A slot is 50px in height
  // plus 1px for the line. So the line height is 51 / 3 = 17px
  $line-height: 17px;

  .body {
    fill: $color-canvas-background;
    fill-opacity: 0.8;
  }

  .outline {
    fill: transparent;
    stroke-width: 2px;
  }

  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .content {
    font-size: 12px;
    font-family: $font-family-mono;
    font-weight: 300;
    line-height: $line-height;
    box-sizing: border-box;
    padding: 2px 5px;
    width: 100%;
    height: 100%;
  }

  .resizeHandleOverlay {
    fill: transparent;
    cursor: nwse-resize;
  }

  .editor {
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;

    color: black;
    background: transparent;
  }

  .viewer {
    color: $color-comment-text;
    overflow: hidden;

    p, h1, h2, h3, h4, h5, h6, ul, ol {
      margin: 0;
      padding: 0;
    }

    a {
      color: $color-canvas-selected;
      cursor: pointer;

      &:focus {
        outline: 0;
        box-shadow: 0 0 5px 1px $color-canvas-selected;
        border: 2px solid transparent;
        border-top: 0;
        margin-left: -2px;
        border-radius: 4px;
      }
    }

    ul, ol {
      // Accurate shift-right 3 characters of Roboto Mono
      padding-left: 21px;
    }

    p + ul,
    p + ol {
      margin-top: $line-height;
    }

    em {
      font-style: normal;
      font-weight: bold;
    }

    strong {
      color: $red-bright;
      font-weight: bold;
    }

    code {
      background-color: $coal;
      font-family: $font-family-mono;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: $line-height;
    }

    h1, h2 {
      font-size: 16px;
      margin: $line-height 0;

      &:first-child {
        margin-top: 0;
      }
    }

    h3, h4, h5, h6 {
      font-size: 12px;
      font-weight: bold;
      margin: ($line-height / 2) 0;
    }

    p:not(:first-child) {
      margin-top: $line-height;
    }

    hr {
      border: none;
      border-bottom: 1px solid $grey-bright;
      margin: $line-height 0;
    }
  }

  &:hover {
    .outline {
      stroke: $color-highlight;
    }
  }

  &.is-dragged {
    filter: url(#draggedNodeShadow);
  }

  &.is-selected {
    .outline {
      stroke: $color-canvas-selected;
    }
  }

  &.is-editing {
    .body { fill: white; }
    .CommentResizeHandle { opacity: 0; }
    .resizeHandleOverlay { display: none; }
  }

  &.is-hidden {
    opacity: 0;
    .container { display: none; }
  }
}

.CommentResizeHandle {
  fill: $color-comment-handle;
}
