.CppImplementationEditors {
  display: flex;
  width: 100%;
  flex-grow: 1;

  &.hidden {
    display: none;
  }
}

.CppImplementationEditor {
  width: 100%;
  height: 100%;
  display: none;

  &.isActive {
    display: flex;
    flex-flow: column;
  }

  .editor {
    display: flex;
    flex-grow: 1;

    .ReactCodeMirror {
      width: 100%;
      height: auto;
    }
    .CodeMirror-line, .CodeMirror-line * {
      cursor: text;
    }
    .CodeMirror-linenumber {
      cursor: default;
    }
  }

  &.isInDebuggerTab {
    .toolbar {
      // leave space for breadcrumbs
      margin-top: 27px;
    }
  }
}
