
.CreateNodeWidget {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 200px;
  padding: 2px 5px 7px;
  background: #CCC;
  height: 32px;

  select {
    width: 160px;
  }

  .button-add-node {
    @include button-primary;

    text-shadow: 0 -1px 0 rgba(0,0,30,0.3);
    border: 0;
    border-radius: 2px;
    margin-left: 2px;
  }

}

