.debug-session-stop-button {
  padding: 8px 15px 10px 15px;

  .fa {
    margin-right: 0.25em;
    color: $error;
  }
}

.debugging-outdated {
  color: $apricot-light;
  font-family: $font-family-normal;
  font-size: $font-size-m;
  padding: 12px;

  span {
    margin-left: .25em;
  }
}

.Debugger {
  bottom: 0;
  height: 220px;
  width: 100%;
  border-top: 2px solid $chrome-outlines;
  box-sizing: border-box;

  color: $sidebar-color-text;

  &.isCollapsed {
    height: 24px;
  }

  .titlebar {
    background-color: $coal-bright;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    .expander {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        margin-left: 7px;
        color: $light-grey-bright;
      }

      .progress {

        padding-left: 14px;

        .progress-trail {
          width: 150px;
          height: 7px;
          border-radius: 7px;

          background-color: $dark;
          overflow: hidden;

          .progress-line {
            height: 7px;
            background-color: $green;
          }
        }
      }
    }


    @mixin deploymentPanelButton() {
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      line-height: 1;
      background: none;
      border-radius: 0;
      border: none;
      outline: none;
      cursor: pointer;
      color: #ccc;

      &:hover {
        color: #ccc;
        background: #444;
      }
    }

    .quick-upload-button {
      @include deploymentPanelButton();
      @extend .icon-quick-upload;
    }
    .debug-button {
      @include deploymentPanelButton();
      @extend .icon-debug;
    }
    .filter-button {
      @include deploymentPanelButton();
      @extend .icon-filter;
    }
    .clear-log-button {
      @include deploymentPanelButton();
      @extend .icon-clear-log;
    }
    .close-button {
      @include deploymentPanelButton();

      &::before {
        line-height: 24px;
        opacity: 0.4;
      }
    }
  }

  .tab-selector {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $grey;

    .tab {
      display: inline-block;
      cursor: pointer;

      padding: 4px 1ex 4px;

      &.active {
        cursor: default;
        border-bottom: 2px solid $cyan;
      }
    }
  }

  .container {
    display: block;
    position: relative;
    height: 165px;

    background: $sidebar-color-bg;
    border-left: 1px solid $color-canvas-background;
  }

  .log {
    height: 161px;
    overflow-y: scroll;

    white-space: pre-wrap;

    * {
      user-select: text;
    }

    @include styled-scrollbar();

    display: block;
    margin: 0;
    padding: 2px;

    font-family: $font-family-mono;
    font-size: $font-size-m;
    word-break: break-all;
    user-select: text;

    margin-right: 2px;
    margin-left: 2px;

    cursor: text;

    .error {
      background: rgba(255,0,0,.25);
      cursor: text;
    }

    .skipped {
      position: absolute;
      box-sizing: border-box;
      bottom: 0;
      width: 100%;
      text-align: right;
      padding: 0 28px 7px;
    }
  }
}
