.debug-session-stop-button {
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 3px;

  padding: 8px 15px 10px 15px;

  .fa {
    margin-right: 0.25em;
    color: $color-error;
  }
}

.Debugger {
  bottom: 0;
  height: 220px;
  width: 100%;
  border-top: 2px solid $chrome-outlines;

  color: $sidebar-color-text;

  &.isCollapsed {
    height: 24px;
  }

  .titlebar {
    background-color: $coal-bright;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    .expander {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        margin-left: 7px;
        color: $light-grey-bright;
      }
  
      .progress {
        
        padding-left: 14px;
  
        .progress-trail {
          width: 150px;
          height: 7px;
          border-radius: 7px;
  
          background-color: $dark;
          overflow: hidden;
  
          .progress-line {
            height: 7px;
            background-color: $green;
          }
        }
      }
    }


    @mixin deploymentPanelButton() {
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      line-height: 1;
      background: none;
      border-radius: 0;
      border: none;
      outline: none;
      cursor: pointer;
      color: #ccc;

      &:hover {
        color: #ccc;
        background: #444;
      }
    }

    .quick-upload-button {
      @include deploymentPanelButton();
      @extend .icon-quick-upload;
    }
    .debug-button {
      @include deploymentPanelButton();
      @extend .icon-debug;
    }
    .filter-button {
      @include deploymentPanelButton();
      @extend .icon-filter;
    }
    .clear-log-button {
      @include deploymentPanelButton();
      @extend .icon-clear-log;
    }
    .close-button {
      @include deploymentPanelButton();

      &::before {
        line-height: 24px;
        opacity: 0.4;
      }
    }
  }

  .container {
    display: block;
    height: 196px;

    background: $sidebar-color-bg;
    border-left: 1px solid $color-canvas-background;
  }

  .log {
    max-height: 196px;

    * {
      user-select: text;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(white, 0.35);
      border-radius: 3px;
    }

    pre {
      margin: 0;
    }

    .line {
      display: block;
      margin: 0;
      padding: 2px;

      font-family: $font-family-mono;
      font-size: $font-size-m;
      word-break: break-all;
      user-select: text;

      &:hover {
        background-color: $sidebar-color-bg-even;
      }

      & > * {
        margin-right: 2px;
        margin-left: 2px;

        cursor: text;
      }
      & > *:nth(0) {
        margin-left: 0;
      }
      .prefix {
        color: $chalk-light;
      }
      .timestamp {
        color: $color-datatype-number;
      }
      .nodeId {
        text-decoration: underline;
        color: $color-datatype-boolean;

        &:hover {
          text-decoration: none;
        }
      }
      .content {
        display: inline-block;
        color: $color-comment-text;
        font-family: $font-family-mono;
        white-space: pre-wrap;
      }
    }

    .line.error {
      background: rgba(255,0,0,.25);
      &:hover {
        background: rgba(255,0,0,.4);
      }
    }
  }
}
