.Helpbar {
  position: absolute;
  right: 0;
  width: 540px;
  height: 100%;
  padding: 20px;
  background: $sidebar-color-bg;
  border-left: 1px solid $sidebar-color-border;

  .no-selection {
    color: $sidebar-color-text;
    font-size: $font-size-m;
    text-align: center;
    padding: 10px;
  }

  .close-button {
    @include close-button();
  }
}