.Helpbox {
  max-height: 80%;
  min-width: 300px;

  &-content {
    display: flex;
    flex-grow: 1;

    .PatchDocs {
      padding: 12px;
    }

    * { user-select: text; }
    span { cursor: text; }
  }
}
