.Inspector-container {
  height: 100%;
}
.Inspector {
  &-content {
    padding: 6px;
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .inspectorTitle {
    font-size: $font-size-m;
    margin: 6px 0;
    color: $input-color-border; // TODO: separate color?
    cursor: default;

    .nodeName, .patchName {
      color: $color-canvas-selected; // TODO: separate color?
    }
  }

  .nodeType {
    color: $sidebar-color-text;
    font-size: $font-size-s;
    cursor: default;
  }

  .nodeHelp {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $input-color-bg;

    &:hover {
      background-color: #555555;
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    }
  }

  .nodeHelpIcon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../assets/icons/guide.svg) no-repeat 4px 4px;
    background-size: 16px 16px;
    cursor: pointer;
  }
}

.inspectorInput {
  background-color: $input-color-bg;
  color: $input-color-text;
  border: 1px solid $input-color-border;
  box-sizing: border-box;
  padding: 6px 4px;

  &:focus {
    outline: none;
    border-color: $input-color-border-focus;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.invalid {
  color: #ed5b5b;
  border: 1px solid #ed5b5b;
}

.inspectorInput--full-width {
  display: block;
  width: 100%;
}

.inspectorTextInput {
  @extend .inspectorInput;

  &--number {
    text-align: right;
  }

  &--not-bindable {
    text-align: center;
    font-style: italic;
    user-select: none;
  }
}

.nodeLabelTextInput {
  background: url(../assets/icons/flag.svg) no-repeat 4px 4px;
  background-size: 16px 16px;

  padding-left: 24px;
}

.inspectorSelectInput {
  @extend .inspectorInput;

  -webkit-appearance: none;
  border-radius: 0;
  background: url(../assets/icons/dropdown.svg) no-repeat top 4px right 4px;
  background-size: 16px 16px;

  option {
    background-color: $input-color-bg;
    color: $input-color-text;
  }
}

.Widget {
  margin: 6px 0;
  overflow: hidden;

  font-size: $font-size-m;
  font-family: $font-family-condensed;
  line-height: 0;
  vertical-align: baseline;

  &.HintWidget, label {
    line-height: $font-size-l;
    display: block;
  }
}

.PinWidget {
  padding-bottom: 0;

  .PinIcon {
    pointer-events: none;
    float: left;
    margin-top: 4px;
  }

  label {
    float: left;
    padding: 6px 4px 0 4px;
    // TODO: this could be dropped when all labels will be 4 chars max
    max-width: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .inspectorTextInput,
  .inspectorSelectInput {
    float: right;
    width: 104px;
  }
}

.LabelWidget {
  .inspectorTextInput {
    width: 100%;
  }
}

.DescriptionWidget {
  label {
    color: $input-color-border; // TODO
  }

  .inspectorTextInput {
    font-family: $font-family-condensed;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 8em;
  }
}
