
.Inspector {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: $sidebar-color-bg;
  color: $sidebar-color-text;

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.inspectorTitle {
  font-size: $font-size-m;
  padding: 14px 17px;
  color: $input-color-border; // TODO: separate color?
  cursor: default;

  .nodeName {
    color: $color-canvas-selected; // TODO: separate color?
  }
}

.nodeType {
  padding-left: 16px;
  color: $sidebar-color-text;
  font-size: $font-size-s;
  cursor: default;
}

.nodeHelp {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $input-color-bg;

  &:hover {
    background-color: #555555;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
  }
}

.nodeHelpIcon {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/guide.svg) no-repeat 4px 4px;
  background-size: 16px 16px;
  cursor: pointer;
}

.inspectorInput {
  background-color: $input-color-bg;
  color: $input-color-text;
  border: 1px solid $input-color-border;
  box-sizing: border-box;
  padding: 6px 4px;

  &:focus {
    outline: none;
    border-color: $input-color-border-focus;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.inspectorTextInput {
  @extend .inspectorInput;

  &--number {
    text-align: right;
  }

  &--not-bindable {
    text-align: center;
    font-style: italic;
    user-select: none;
  }
}

.nodeLabelTextInput {
  background: url(../assets/icons/flag.svg) no-repeat 4px 4px;
  background-size: 16px 16px;

  padding-left: 24px;
}

.inspectorSelectInput {
  @extend .inspectorInput;

  -webkit-appearance: none;
  border-radius: 0;
  background: url(../assets/icons/dropdown.svg) no-repeat top 4px right 4px;
  background-size: 16px 16px;

  option {
    background-color: $input-color-bg;
    color: $input-color-text;
  }
}

.Widget {
  padding: 7px 17px;

  //margin-bottom: 2px;
  overflow: hidden;

  font-size: $font-size-m;
  font-family: $font-family-condensed;
  line-height: $font-size-l;
  vertical-align: baseline;

  label {
    display: block;
  }
}

.PinWidget {
  padding-bottom: 0;

  .PinIcon {
    pointer-events: none;
    float: left;
    margin-top: 4px;
  }

  label {
    float: left;
    padding: 6px 4px;
    // TODO: this could be dropped when all labels will be 4 chars max
    max-width: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .inspectorTextInput,
  .inspectorSelectInput {
    float: right;
    width: 104px;
  }
}

.LabelWidget {
  padding: 14px 16px;

  .inspectorTextInput {
    width: 100%;
  }
}

.DescriptionWidget {
  padding: 14px 16px;

  label {
    color: $input-color-border; // TODO
  }

  .inspectorTextInput {
    width: 100%;
  }
}
