.Inspector-container {
  display: flex;
  flex-grow: 1;
}
.Inspector {
  flex-grow: 1;
  width: 100%;

  &-content {
    padding: 6px;
  }

  ul {
    padding: 0;
    margin: $font-size-m 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
    }
  }

  .inspectorTitle {
    font-size: $font-size-m;
    font-family: $font-family-condensed;
    margin: 6px 0;
    color: $sidebar-color-subtitle;
    cursor: default;

    .nodeName, .patchName {
      font-size: $font-size-l;
      color: $color-canvas-selected;
      word-break: break-word;
    }
  }

  .nodeType {
    color: $sidebar-color-text;
    font-size: $font-size-m;
    font-family: $font-family-condensed;
    cursor: default;
  }

  .nodeHelp {
    display: block;
    float: right;
    margin-top: 3px;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $input-color-bg;

    &:hover {
      background-color: #555555;
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    }
  }

  .nodeHelpIcon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../assets/icons/guide.svg) no-repeat 3px 4px;
    background-size: 16px 16px;
    cursor: pointer;
  }
}

.inspectorInput {
  background-color: $input-color-bg;
  color: $input-color-text;
  border: 1px solid $input-color-border;
  box-sizing: border-box;
  line-height: 16px;
  padding: 5px 4px;

  &:focus {
    outline: none;
    border-color: $input-color-border-focus;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.invalid {
  color: #ed5b5b;
  border: 1px solid #ed5b5b;
}

.inspectorInput--full-width {
  display: block;
  width: 100%;
}

.inspectorTextInput {
  @extend .inspectorInput;

  &--number {
    text-align: right;
  }

  &--not-bindable {
    text-align: center;
    user-select: none;
  }
}

.nodeLabelTextInput {
  background: url(../assets/icons/flag.svg) no-repeat 4px 4px;
  background-size: 16px 16px;

  padding-left: 24px;
}

.inspectorSelectInput {
  @extend .inspectorInput;

  -webkit-appearance: none;
  border-radius: 0;
  background: url(../assets/icons/dropdown.svg) no-repeat top 4px right 4px;
  background-size: 16px 16px;
  width: 100%;
  padding-right: 22px;

  option {
    background-color: $input-color-bg;
    color: $input-color-text;
  }
}

.Widget {
  margin: 6px 0;
  overflow: hidden;

  font-size: $font-size-m;
  font-family: $font-family-condensed;
  line-height: 0;
  vertical-align: baseline;
  min-height: 28px;

  input, select, textarea {
    font-family: $font-family-condensed;
    font-size: $font-size-m;
  }
  label {
    line-height: $font-size-l;
    display: block;
    color: $sidebar-color-subtitle;
    white-space: nowrap;
  }
  &.HintWidget {
    display: block;
    font-family: $font-family-normal;
    font-size: $font-size-m;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  &.NodeSpecializationWidget {
    position: relative;

    .nodeType { display: none; }

    &.no-specializations {
      .nodeType {
        font-family: $font-family-condensed;
        font-size: $font-size-m;

        display: block;
        position: absolute;
        left: 0;
        top: 0;

        box-sizing: border-box;
        padding: 6px 22px 6px 5px;
        height: 100%;
        width: 100%;

        line-height: 1.4em;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      select:disabled { color: transparent; }
    }
  }
}

.PinWidget {
  padding-bottom: 0;

  .PinIcon {
    pointer-events: none;
    float: left;
    margin-top: 7px;
  }

  label {
    float: left;
    padding: 7px 4px 0 4px;
    // TODO: this could be dropped when all labels will be 4 chars max
    max-width: 38px;
    overflow: hidden;
    text-overflow: ellipsis;

    color: $sidebar-color-text;
  }

  .inspector-input-wrapper,
  .inspectorTextInput,
  .inspectorSelectInput {
    float: right;
    width: 120px;

    font-family: $font-family-mono;
    font-size: $font-size-m;
  }
  .inspector-input-wrapper {
    position: relative;

    &.string-focused {
      &:before, &:after {
        position: absolute;
        top: 14px;
        content: '"';
        display: block;

        color: $apricot-light;
        font-family: $font-family-mono;
        font-size: $font-size-m;
        font-weight: 400;
      }
      &:before {
        left: 5px;
      }
      &:after {
        right: 5px;
      }
      .inspectorTextInput,
      .inspectorSelectInput {
        padding-left: 11px;
        padding-right: 11px;
      }
    }

    .inspectorTextInput,
    .inspectorSelectInput {
      float: none;
    }
  }
}

.LabelWidget .inspectorTextInput {
  width: 100%;
}
.DescriptionWidget .inspectorTextInput {
  font-family: $font-family-condensed;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 8em;
}
