@mixin link-parts-coloring($type-color) {
  .line {
    stroke: $type-color;
  }

  .end {
    fill: $type-color;
  }
}

.Link {
  .line {
    stroke: grey;
    stroke-width: 2px;
  }

  &.string {
    @include link-parts-coloring($color-datatype-string);
  }

  &.number {
    @include link-parts-coloring($color-datatype-number);
  }

  &.boolean {
    @include link-parts-coloring($color-datatype-boolean);
  }

  &.pulse {
    @include link-parts-coloring($color-datatype-pulse);
  }

  &:hover {
    @include link-parts-coloring(white);
  }

  &.is-selected {
    @include link-parts-coloring($color-canvas-selected);
  }
}
