
.Link {
  stroke: grey;
  stroke-width: 2px;

  &.string {
    stroke: $color-datatype-string;
  }

  &.number {
    stroke: $color-datatype-number;
  }

  &.bool {
    stroke: $color-datatype-bool;
  }

  &.pulse {
    stroke: $color-datatype-pulse;
  }

  &:hover {
    .line {
      stroke: white;
    }
  }

  &.is-selected {
    .line {
      stroke: #4ed5ec;
    }
  }
}
