@mixin link-parts-coloring($type-color) {
  .line {
    stroke: $type-color;
  }

  .end {
    fill: $type-color;
  }
}

.Link {
  .line {
    stroke: grey;
    stroke-width: 2px;
  }

  &.string {
    @include link-parts-coloring($color-datatype-string);
  }

  &.number {
    @include link-parts-coloring($color-datatype-number);
  }

  &.boolean {
    @include link-parts-coloring($color-datatype-boolean);
  }

  &.pulse {
    @include link-parts-coloring($color-datatype-pulse);
  }

  &.is-selected, &.is-dead.is-selected {
    @include link-parts-coloring($color-canvas-selected);
  }

  &.is-dead {
    @include link-parts-coloring($color-error);
    stroke-dasharray: 2,2;
  }
}

.LinkOverlay {
  opacity: 0;

  .line {
    stroke: white;
    stroke-width: 2px;
  }

  .end {
    fill: white;
  }

  &.is-selected {
    @include link-parts-coloring($color-canvas-selected);
  }

  &:hover {
    opacity: 0.5;
  }
}

.Link.is-dragged .end { fill: transparent !important; }
