.MenuUnderlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99990;
  cursor: default;

  display: none;

  &.isVisible {
    display: block;
  }
}

// below are styles for rc-menu component (https://github.com/react-component/menu)
// extracted from styles that were included in package, then slightly modified
$menu-root-class: '.Menubar';

#{$menu-root-class} {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  z-index: 99999;
  color: $menubar-text;

  display: inline-block;
  margin-top: 0;
  font-size: $font-size-m;
  vertical-align: top;

  .load-button {
    overflow: hidden;

    input {
      position: absolute;
      top: -300px;
    }
  }

  .menu-link {
    color: $menubar-submenu-text;
    text-decoration: none;
  }

  .hotkey {
    float: right;
    padding-left: 7px;
    color: $menubar-submenu-hotkey-text;
  }

  &-hidden {
    display: none;
  }

  &-collapse {
    overflow: hidden;

    &-active {
      transition: height 0.3s ease-out;
    }
  }

  &-item-group-list {
    margin: 0;
    padding: 0;
  }

  &-submenu-active > &-submenu-title {
    background-color: $menubar-hover-bg;
  }
  &-submenu-open > &-submenu-title {
    color: $menubar-active-text;
    background-color: $menubar-active-bg;
  }
  &-item-active > &-clickable-item,
  &-item-active .menu-link {
    color: $menubar-submenu-text;
    background-color: $menubar-submenu-hover-bg;
  }

  & > li#{&}-submenu {
    padding: 0;
  }

  &-submenu-horizontal > & {
    top: 100%;
    min-width: 180px;
  }

  &-item,
  &-submenu-title {
    margin: 0;
    position: relative;
    display: block;
    white-space: nowrap;
    user-select: none;
  }

  &-clickable-item {
    padding: 5px 14px;
  }

  &-item-disabled,
  &-item#{$menu-root-class}-item-disabled,
  &-submenu-title#{$menu-root-class}-item-disabled,
  &-item#{$menu-root-class}-submenu-disabled,
  &-submenu-title#{$menu-root-class}-submenu-disabled {
    color: $menubar-submenu-disabled-text !important;
    cursor: default;
  }

  & > &-item-divider {
    height: 1px;
    margin: 5px 2px;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    background-color: $menubar-submenu-separator;
  }

  &-submenu {
    &-popup {
      position: absolute;
      z-index: 99999;
    }
    > #{$menu-root-class} {
      background-color: $menubar-submenu-bg;
    }
  }

  &-submenu > #{$menu-root-class} {
    background-color: $menubar-submenu-bg;
  }

  &-horizontal {
    background-color: $menubar-bg;
  }
  &-horizontal > &-item,
  &-horizontal > &-submenu > &-submenu-title {
    padding: 9px 24px;
  }
  &-horizontal > &-submenu,
  &-horizontal > &-item {
    float: left;
  }
  &-horizontal > &-item-active {
    color: $menubar-text;
  }
  &-horizontal:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
  }

  &-submenu-vertical > & {
    top: 0;
    left: 100%;
    min-width: 180px;
    margin-left: 4px;
  }
  &-vertical,
  &-inline {
    padding: 12px 0;
  }

  &-vertical#{$menu-root-class}-sub {
    padding: 5px 0;
    border: 1px solid $menubar-submenu-separator;
  }
  &-sub#{$menu-root-class}-inline {
    padding: 0;

    & > #{$menu-root-class}-item,
    & > #{$menu-root-class}-submenu > #{$menu-root-class}-submenu-title {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 0;
    }
  }
}
