
.Node {
  .body {
    width: 100%;
    height: 100%;
    fill: $color-canvas-face;
  }

  .outputPinsSection {
    fill: $color-canvas-face-light;
  }

  .outline {
    fill: transparent;
    stroke-width: 2px;
  }

  &:hover {
    .outline {
      stroke: $color-highlight;
    }

    // TODO: do not separate NodeText styles?
    .NodeText {
      fill: $color-highlight;
    }
  }

  &.is-dragged {
    filter: url(#draggedNodeShadow);
  }

  &.is-selected {
    .outline {
      stroke: $color-canvas-selected;
    }

    .NodeText {
      fill: $color-canvas-selected;
    }
  }

  &.is-ghost {
    opacity: 0.8;
  }
}

.NodePinsOverlay {
  overflow: visible;
}
