
.Node {
  .body {
    width: 100%;
    height: 100%;
    fill: $color-node-fill;
    opacity: 0.8;
  }

  .outline {
    fill: transparent;
    stroke: $color-node-outline;
    stroke-width: 2px;
  }

  .nodeLabelContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nodeLabel {
    padding: 0 2px;
    font-size: 12px;
    font-family: $font-family-condensed;
    color: $color-canvas-face-text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    user-select: none;
  }

  &:hover {
    .outline {
      stroke: $color-highlight;
    }

    .nodeLabel {
      color: $color-highlight;
    }
  }

  &.is-dragged {
    filter: url(#draggedNodeShadow);
  }

  &.is-selected {
    .outline {
      stroke: $color-canvas-selected;
    }

    .nodeLabel {
      color: $color-canvas-selected;
    }
  }

  &.is-ghost {
    opacity: 0.8;
  }
}

.NodePinsOverlay {
  overflow: visible;
}
