@mixin wavy-error() {
  background: url('../assets/gui/wavy-error.svg') repeat-x bottom left;
  padding: 3px 0;
  text-shadow: 0 1px 1px $color-node-fill;
}

.Node {
  .body {
    width: 100%;
    height: 100%;
    fill: $color-node-fill;
    opacity: 0.8;
  }

  .outline {
    fill: transparent;
    stroke: $color-node-outline;
    stroke-width: 1px;

    // For terminals:
    &.string { stroke: $color-datatype-string; }
    &.number { stroke: $color-datatype-number; }
    &.boolean { stroke: $color-datatype-boolean; }
    &.pulse { stroke: $color-datatype-pulse; }
    &.byte { stroke: $color-datatype-byte; }
    &.port { stroke: $color-datatype-port; }
    &.dead { stroke: $color-datatype-dead; }
    &.self, &.custom { stroke: $color-datatype-custom; }
  }

  .clickable-area {
    fill: transparent;
  }

  &.is-errored {
    .nodeLabel {
      color: $error-text;
      @include wavy-error();
    }
    .outline {
      stroke: $error;
    }
  }

  &.is-variadic {}

  .NodeResizeHandle {
    fill: $color-node-outline;
    cursor: nwse-resize;
  }

  .watch-node {
    .body {
      fill: $color-watch-node-fill;
    }
    .outline {
      stroke: $color-watch-node-outline;
    }
    .NodeResizeHandle {
      fill: $color-watch-node-outline;
    }

    &.active {
      .body {
        fill: $color-watch-node-active-fill;
      }
      .outline {
        stroke: $color-watch-node-active-outline;
      }
      .nodeLabel {
        color: $color-watch-node-active-text;
      }
      .NodeResizeHandle {
        fill: $color-watch-node-active-outline;
      }
    }
  }

  .terminal-node, .bus-node {
    .outline {
      stroke-width: 2px;
    }
  }

  .jumper-line {
    stroke: $color-node-outline;
    stroke-width: 2px;

    &.is-connected {
      stroke: $color-datatype-custom;
    }
    &.string {
      stroke: $color-datatype-string;
    }
    &.number {
      stroke: $color-datatype-number;
    }
    &.boolean {
      stroke: $color-datatype-boolean;
    }
    &.pulse {
      stroke: $color-datatype-pulse;
    }
    &.port {
      stroke: $color-datatype-port;
    }
    &.byte {
      stroke: $color-datatype-byte;
    }
    &.error {
      stroke: $color-datatype-dead;
    }
    &.generic {
      stroke: $color-node-outline;
    }
  }

  .nodeLabelContainer {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    // move from under pins
    // leave 1px margin on the sides to avoid "gluing" of two nearest labels
    margin: 11px 1px;
    height: calc(100% - 24px);
  }

  .nodeLabel {
    display: block;
    text-align: center;
    padding: 0;
    font-size: 13px;
    font-family: $font-family-normal;
    font-weight: 400;
    color: $color-canvas-face-light;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    user-select: none;
  }

  &.is-hovered {
    .jumper-line, .outline {
      stroke: $color-highlight;
    }
    .watch-node .outline {
      stroke: $color-watch-node-highlight-outline;
    }

    .nodeLabel {
      color: $color-canvas-face-light;
    }

    .VariadicHandle--grip {
      fill: $color-highlight;
    }

    .NodeResizeHandle {
      fill: $color-highlight;
    }
    .watch-node .NodeResizeHandle {
      fill: $color-watch-node-highlight-outline;
    }
  }

  &.is-dragged {
    filter: url(#draggedNodeShadow);
  }

  &.is-selected {
    .jumper-line, .outline {
      stroke: $color-canvas-selected !important;
    }

    .nodeLabel {
      color: $color-canvas-selected !important;
    }

    .VariadicHandle--grip {
      fill: $color-canvas-selected !important;
    }

    .NodeResizeHandle {
      fill: $color-canvas-selected !important;
    }
  }

  &.is-ghost, &.is-ghost.is-selected {
    pointer-events: none;
    opacity: 0.3;

    .outline {
      stroke: $color-node-outline !important;
    }
    .VariadicHandle--grip {
      fill: $color-node-outline !important;
    }
    .nodeLabel {
      visibility: hidden;
    }
  }

  &.is-changing-arity {
    .outline {
      stroke: $color-highlight;
    }
    .nodeLabel {
      color: $color-highlight;
    }
    .VariadicHandle--grip {
      fill: $color-highlight;
    }
  }

  &.is-deprecated {
    .nodeLabel {
      @include wavy-error();
    }
  }
}

.NodePinsOverlay {
  overflow: visible;
}

.VariadicHandle {
  &--clickArea {
    cursor: ew-resize;
    fill: transparent;
  }
  &--grip {
    pointer-events: none;
    fill: $color-node-outline;
    stroke-width: 0;
  }
}
