.Node {
  .body {
    width: 100%;
    height: 100%;
    fill: $color-node-fill;
    opacity: 0.8;
  }

  .outline {
    fill: transparent;
    stroke: $color-node-outline;
    stroke-width: 2px;

    &.string { stroke: $color-datatype-string; }
    &.number { stroke: $color-datatype-number; }
    &.boolean { stroke: $color-datatype-boolean; }
    &.pulse { stroke: $color-datatype-pulse; }
    &.dead { stroke: $color-datatype-dead; }
  }

  &.is-errored {
    .nodeLabel {
      color: $color-error;
    }
    .outline {
      stroke: $color-error;
    }
  }

  .watch-node {
    .body {
      fill: $color-watch-node-fill;
    }
    .outline {
      stroke: $color-watch-node-outline;
    }
    .nodeLabel {
      text-overflow: clip;
    }

    &.active {
      .body {
        fill: $color-watch-node-active-fill;
      }
      .outline {
        stroke: $color-watch-node-active-outline;
      }
      .nodeLabel {
        color: $color-watch-node-active-text;
      }
    }
  }

  .nodeLabelContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nodeLabel {
    padding: 0 2px;
    font-size: 12px;
    font-family: $font-family-condensed;
    color: $color-canvas-face-text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    user-select: none;
  }

  &:hover {
    .outline {
      stroke: $color-highlight;
    }
    .watch-node .outline {
      stroke: $color-watch-node-highlight-outline;
    }

    .nodeLabel {
      color: $color-highlight;
    }
  }

  &.is-dragged {
    filter: url(#draggedNodeShadow);
  }

  &.is-selected {
    .outline {
      stroke: $color-canvas-selected !important;
    }

    .nodeLabel {
      color: $color-canvas-selected !important;
    }
  }

  &.is-ghost {
    opacity: 0.8;
  }
}

.NodePinsOverlay {
  overflow: visible;
}
