.NoPatch {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #373737;

  .logo {
    width: 25%;

    path {
      fill: #333333;
      filter: url(#inset-shadow);
    }
  }
}