.NoPatch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: #373737;

  .logo {
    width: 25%;

    path {
      fill: #333333;
      filter: url(#inset-shadow);
    }
  }
}