.PatchGroup {
  background-color: $sidebar-color-bg;

  @mixin collapsibleBlock() {
    display: block;
    font-family: $font-family-normal;
    text-decoration: none;
    position: relative;
    border: 1px solid $sidebar-color-border;
    border-bottom: none;
    padding: 10px 10px 10px 30px;
    color: $sidebar-color-text;
    user-select: none;

    &.my:before,
    &.library:before {
      font-family: 'FontAwesome';
      font-size: 13px;
      position: absolute;
      left: 10px;
      top: 10px;
      display: block;
      content: '\f007'; // TODO: bg image
    }

    &.library:before {
      content: '\f02d'; // TODO: bg image
    }
  }

  &__contentInner {
    border-top: 1px solid $sidebar-color-border;
  }

  &--installing {
    @include collapsibleBlock();
    cursor: wait;
    color: darken($sidebar-color-text, 20%);
    background: darken($sidebar-color-bg, 3%);

    .fa-spin {
      position: absolute;
      right: 13px;
      top: 12px;
      display: block;
    }
    .version {
      margin-left: 0.25em;
      color: darken($sidebar-color-text, 40%);
    }
  }

  &__trigger {
    @include collapsibleBlock();
    cursor: pointer;

    &:after {
      font-family: 'FontAwesome';
      content: '\f0da';
      position: absolute;
      right: 13px;
      top: 12px;
      display: block;
      transition: transform 100ms;
    }

    &.is-open:after {
      transform: rotateZ(90deg);
    }

    &.is-disabled {
      opacity: 0.5;
    }
  }

  &:last-child {
    border-bottom: 1px solid $sidebar-color-border;
  }
}

.PatchGroup:first-child .PatchGroup__trigger {
  border-top: 0;
}
