.PatchGroupItem {
  color: $sidebar-color-text;
  background-color: $sidebar-color-bg;
  padding: 8px;
  padding-left: 30px;
  user-select: none;
  position: relative;
  cursor: pointer;

  &__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.isOpen &__label {
    color: $color-canvas-selected;
  }

  &__hover-buttons {
    display: none;
    background-color: $sidebar-color-bg-hover;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: 7px 6px 8px 1px;
    font-size: 14px; // for FA icons

    &:before {
      display:    block;
      content:    '';
      position:   absolute;
      width:      8px;
      height:     100%;
      top:        0;
      left:       -8px;
      background: linear-gradient(to left, $sidebar-color-bg-hover, rgba(0, 0, 0, 0));
    }
  }

  &:nth-child(even) {
    background-color: $sidebar-color-bg-even;
  }

  &.isSelected {
    background-color: $sidebar-color-bg-selected;

    .PatchGroupItem__hover-buttons {
      display: block;
      background: $sidebar-color-bg-selected;
      &:before {
        background: linear-gradient(to left, $sidebar-color-bg-selected, rgba(0, 0, 0, 0));
      }
    }
  }

  &:hover {
    color: $sidebar-color-text-hover;
    background-color: $sidebar-color-bg-hover;

    .PatchGroupItem__hover-buttons {
      display: block;
      background-color: $sidebar-color-bg-hover;
      &:before {
        background: linear-gradient(to left, $sidebar-color-bg-hover, rgba(0, 0, 0, 0));
      }
    }
  }

  .hover-button {
    margin-right: 4px;
    opacity: 0.9;

    &:hover, &:focus {
      opacity: 1;
    }
  }

  .hover-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  a {
    text-decoration: none;
    color: $sidebar-color-text;
    &:hover, &:focus {
      color: $sidebar-color-text-hover;
    }
  }

  .project-browser--guide-button {
    display: inline-block;
    vertical-align: text-top;
    margin-top: 1px;
  }
}
