.PatchWrapper-container {
  flex-grow: 1;
  position: relative;
}
.PatchWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-canvas-background;
  overflow: hidden;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}
