.PatchSVG {
  cursor: default;
  user-select: none;

  &.isInResizingMode {
    cursor: nwse-resize;
  }

  &.isInPanningMode {
    cursor: move;
    cursor: grab;
 
    &.isPanning {
      cursor: grabbing;
    }
  }
}
