.PatchGroup {
  background-color: $sidebar-color-bg;

  @mixin collapsibleBlock() {
    display: block;
    font-family: $font-family-normal;
    text-decoration: none;
    position: relative;
    border-top: 1px solid $sidebar-color-border;
    padding: 10px 10px 9px 26px;
    color: $sidebar-color-text;
    user-select: none;
    line-height: 1em;

    & .icon.my,
    & .icon.library {
      display: block;
      position: absolute;
      left: 6px;
      top: 8px;
      display: block;

      width: 14px;
      height: 14px;
      background: url(../assets/icons/project.svg) no-repeat;
    }

    & .icon.library {
      width: 14px;
      height: 14px;
      background: url(../assets/icons/libs.svg) no-repeat;
    }

    & .icon.my.with-errors {
      background-image: url(../assets/icons/project-err.svg);
    }
    & .icon.library.with-errors {
      background-image: url(../assets/icons/libs-err.svg);
    }
  }

  &__contentInner {
    border-top: 1px solid $sidebar-color-border;
  }

  &--installing {
    @include collapsibleBlock();
    cursor: wait;
    color: darken($sidebar-color-text, 20%);
    background: darken($sidebar-color-bg, 3%);

    .fa-spin {
      position: absolute;
      right: 13px;
      top: 12px;
      display: block;
    }
    .version {
      margin-left: 0.25em;
      color: darken($sidebar-color-text, 40%);
    }
  }

  &__trigger {
    @include collapsibleBlock();
    cursor: pointer;

    * { cursor: pointer; }

    &:after {
      font-family: 'FontAwesome';
      content: '\f0da';
      position: absolute;
      right: 13px;
      top: 12px;
      display: block;
      transition: transform 100ms;
    }

    &.is-open:after {
      transform: rotateZ(90deg);
    }

    &.is-disabled {
      opacity: 0.5;
    }
  }

  &:last-child {
    border-bottom: 1px solid $sidebar-color-border;
  }
}

.PatchGroup:first-child .PatchGroup__trigger {
  border-top: 0;
}
