$node-height: 93px;
$label-width: 30px;
$PinInfo-padding-bottom: 10px;

.PatchDocs {
  display: table-caption;
  min-width: 300px;
  max-width: 510px;
  box-sizing: border-box;
  background: $sidebar-color-bg;
  cursor: default;

  .pin-info-container {
    display: flex;
    justify-content: flex-end;
  }
  .pin-info {
    background: $sidebar-color-bg;
    width: 225px;
    position: relative;
    top: -7px;
    padding-left: 5px;
    padding-bottom: $PinInfo-padding-bottom;

    .label, .variadic {
      display: inline-block;
      color: $color-pinlabel;
      font-family: $font-family-condensed;
    }
    .label {
      width: $label-width;
    }

    .type {
      display: inline-block;
      font-family: $font-family-normal;
      font-size: $font-size-m;
      font-weight: 700;
      color: $color-datatype-custom;

      &.boolean { color: $color-datatype-boolean }
      &.pulse { color: $color-datatype-pulse }
      &.number { color: $color-datatype-number }
      &.string { color: $color-datatype-string }
      &.generic { color: $color-datatype-generic }
      &.byte { color: $color-datatype-byte }
      &.port { color: $color-datatype-port }
    }

    .description {
      margin-left: $label-width;
      padding-top: 3px;
      font-family: $font-family-normal;
      font-size: $font-size-m;
      font-weight: 300;
      color: $sidebar-color-text;
    }
  }


  .node-preview {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
    pointer-events: none;

    .bg {
      fill: $sidebar-color-bg;
    }
  }


  .input-pins-container {
    /* distance to first pin should be set in inline styles as paddingLeft */
    padding-top: 15px;
    position: relative;
    background: $sidebar-color-bg;
    min-height: $node-height;

    &--no-inputs {
      min-height: 75px;
      overflow: hidden;
      box-sizing: border-box;
    }
    &--no-outputs { margin-bottom: -15px; }
  }
  .input-pin {
    border: 1px solid $color-pinlabel;
    border-right: none;
    border-bottom: none;
    /* distance between pins should be set in inline styles as paddingLeft */

    &.last-pin .pin-info  {
      min-height: $node-height - $PinInfo-padding-bottom + 15px;
    }
  }


  .output-pins-container {
    /* distance to first pin should be set in inline styles as paddingLeft */
    background: $sidebar-color-bg;
  }
  .output-pin {
    /* distance between pins should be set in inline styles as paddingLeft */
    border: 1px solid $color-pinlabel;
    border-right: none;
    border-top: none;

    &.first-pin {
      border: none;
    }

    &.last-pin {
      min-height: 15px;
    }
  }

  .baseName {
    font-family: $font-family-condensed;
    font-size: $font-size-l;
    color: $color-canvas-selected;
    word-break: break-word;
  }

  .nodeType {
    font-family: $font-family-condensed;
    font-size: $font-size-m;
    color: $sidebar-color-text;
  }

  .deprecated {
    padding-top: .5em;
    font-family: $font-family-normal;
    font-size: $font-size-m;
    font-weight: 300;
    color: $error-text;
  }

  & > .description {
    padding-top: 7px;
    font-family: $font-family-normal;
    font-size: $font-size-m;
    font-weight: 300;
    color: $sidebar-color-text;
    padding-bottom: 1em;
  }

  &--minimal {
    width: 100%;
    max-width: 100%;
    min-width: auto;
    display: block;

    .input-pins-container {
      padding-top: 0;
      min-height: 0;
    }
    .input-pin {
      border: none;

      &.last-pin .pin-info  {
        min-height: 0;
      }
    }
    .output-pin {
      border: none;

      &.last-pin {
        min-height: 0;
      }
    }
    .pin-info {
      top: 0;
      padding-left: 0;
      width: 100%;

      .description {
        font-size: $font-size-m;
      }
    }
    .pin-title {
      display: block;
      color: $sidebar-color-subtitle;
      margin-bottom: 0.25em;
    }
    & > .description {
      font-size: $font-size-m;
      line-height: 1.2em;
    }
  }
}
