.PatchTypeSelector {
  height: calc(100% - 30px); // 30px is a height of .ProjectBrowserToolbar

  .options {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .option {
    flex: 1;
    margin: 0;
    padding: 9px;
    text-align: center;
    cursor: pointer;
    background-color: $sidebar-color-bg-tabs;
    color: $sidebar-color-text;
    font-family: $font-family-normal;
    font-size: $font-size-s;
    user-select: none;
    border: 1px solid $sidebar-color-border;
    border-left: 0;
    white-space: nowrap;

    &:first-child {
      border-left: 1px solid $sidebar-color-border;
    }

    &.selected {
      background-color: $sidebar-color-bg-tabs-selected;
      color: $sidebar-color-text-selected-tab;
      cursor: default;
    }
  }
}
