.Pin {
  .symbol {
    fill: #3d3d3d;
    stroke: #2e8f6c;
    stroke-width: 2px;
    filter: url(#dropshadow);
  }

  .label {
    font-family: $font-family-condensed;
    font-weight: 500;
    font-size: 12px;
    fill: white;
    dominant-baseline: central;
  }

  .label.output {
    fill: black;
    font-weight: 700; // black font looks thinner
  }

  &:hover {
    .symbol {
      fill: color-canvas-hover($color-canvas-face);
    }
  }

  &.is-selected {
    .symbol {
      stroke: $color-canvas-selected;
    }
  }

  &.is-valid {
    .symbol {
      fill: $color-canvas-ok;
    }
  }

  &.is-almost-valid {
    .symbol {
      fill: $color-canvas-almost-ok;
    }
  }
}

:focus .Pin.is-selected {
  .symbol {
    stroke: $color-canvas-selected;
  }
}