@mixin symbol-coloring($type-color) {
  stroke: $type-color;

  &.is-connected {
    fill: $type-color;
  }
}

.pins.is-ghost {
  .symbol, .PinDots {
    opacity: 0.4;
  }
  .outerStroke {
    fill: $color-canvas-background;
  }
  .PinLabel {
    visibility: hidden;
  }
}

.Pin {
  .symbol {
    fill: $color-pin-fill;
    stroke: $color-pin-fill; // pins borders are colored by type and don't have a 'default' color.
    stroke-width: 2px;

    &.string {
      @include symbol-coloring($color-datatype-string);
    }

    &.number {
      @include symbol-coloring($color-datatype-number);
    }

    &.boolean {
      @include symbol-coloring($color-datatype-boolean);
    }

    &.pulse {
      @include symbol-coloring($color-datatype-pulse);
    }

    &.dead {
      @include symbol-coloring($color-datatype-dead);
    }
  }

  .outerStroke {
    stroke-width: 0;
    fill: $color-pin-fill;
  }

  .linkingHighlight {
    display: none;
    fill: $color-highlight;
    fill-opacity: 0.5;
  }

  &.is-accepting-links,
  &.is-selected {
    .linkingHighlight {
      display: block;
    }
  }
  &.is-selected {
    .linkingHighlight {
      fill: $color-canvas-selected;
    }
  }

  &.is-connected.is-input .linkingHighlight {
    fill-opacity: 0.3;
  }
}

.PinOverlay {
  .symbol {
    fill: white;
    stroke: white;
    stroke-width: 2px;
    opacity: 0;
  }

  &:hover {
    .symbol {
      opacity: 0.5;
    }
  }

  .linkingHighlight {
    display: none;
    opacity: 0; // just acts as a hotspot
  }

  &.is-accepting-links, &.is-selected {
    .linkingHighlight {
      display: block;
    }
  }
}

.PinDots {
  visibility: hidden;
  fill: $chalk;
  font-family: $font-family-normal;
  font-size: 14px;
  font-weight: 500;
}

.Node.is-selected + .pins .PinDots,
.Node.is-hovered + .pins .PinDots,
.Node.is-changing-arity + .pins .PinDots,
.PinWidget .PinDots,
.PatchDocs .PinDots {
  visibility: visible;
}
