@mixin symbol-coloring($type-color) {
  stroke: $type-color;

  $hover-color: lighten($type-color, 25%);

  &:hover {
    stroke: $hover-color
  }

  &.is-connected {
    fill: $type-color;
    &:hover {
      fill: $hover-color
    }
  }
}

.Pin {
  .symbol {
    fill: $color-pin-fill;
    stroke: $color-pin-fill; // pins borders are colored by type and don't have a 'default' color.
    stroke-width: 2px;
    filter: url(#dropshadow);

    &:hover {
      fill: color-canvas-hover($color-pin-fill);
    }

    &.string {
      @include symbol-coloring($color-datatype-string);
    }

    &.number {
      @include symbol-coloring($color-datatype-number);
    }

    &.bool {
      @include symbol-coloring($color-datatype-bool);
    }

    &.pulse {
      @include symbol-coloring($color-datatype-pulse);
    }
  }

  .linkingHighlight {
    display: none;
    fill: $color-highlight;
    fill-opacity: 0.5;
  }

  &.is-valid,
  &.is-almost-valid,
  &.is-selected {
    .linkingHighlight {
      display: block;
    }
  }
  &.is-selected {
    .linkingHighlight {
      fill: $color-canvas-selected;
    }
  }
}
