.PinLabel {
  font-family: $font-family-condensed;
  font-weight: 500;
  font-size: 11px;
  color: $color-pinlabel;
  user-select: none;

  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  line-height: 1;
}
