.PinLabel {
  font-family: $font-family-condensed;
  font-weight: 500;
  font-size: 10px;
  dominant-baseline: central;
  fill: $color-pinlabel;

  &.outline {
    stroke: #262626;
    stroke-linejoin: round;
    stroke-width: 5;
  }
}
