.PopupPublishProject {
  .libName {
    color: $color-canvas-selected;
  }

  .property {
    margin: 7px 0;

    .propertyLabel {
      color: $color-canvas-face-text;
    }
  }

  .error {
    display: block;
    color: $error;
  }

}
