.ProjectBrowser-container {
  display: flex;
  flex-grow: 1;

  width: $sidebar-width;
}
.ProjectBrowser {
  flex-grow: 1;
  width: 100%;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  .patches-list {
    background-color: $sidebar-color-bg;
  }
}
