.ProjectBrowser-container {
  border-bottom: 1px solid #595959;
}

.ProjectBrowser {
  height: 100%;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  .patches-list {
    background-color: $sidebar-color-bg;
  }
}
