.Sidebar {
  position: absolute;
  width: $sidebar-width;
  height: 100%;

  background: $sidebar-color-bg;

  & > * {
    border-bottom: 1px solid $sidebar-color-border;
  }

  .title {
    display: block;
    margin: 0 8px;
    padding: 10px 20px 4px 0;
    color: $sidebar-color-text;
  }
}