.Sidebar {
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background: $sidebar-color-bg;

  & > * {
    flex: 1;
    border-bottom: 1px solid $sidebar-color-border;
  }

  .title {
    display: block;
    margin: 0 8px;
    padding: 10px 20px 4px 0;
    color: $sidebar-color-text;
  }
}
