/*
 * Styles for SkyLight component.
 * The original one uses inline styles, so we use our own fork.
 * (https://github.com/xodio/react-skylight)
 */

.skylight-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0,0,0,0.3);

  .skylight-dialog {
    width: 50%;
    height: auto;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -25%;
    background-color: #444444;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

    &--fullscreen {
      width: 94%;
      height: 94%;
      top: 3%;
      left: 3%;
      margin-top: 0;
      margin-left: 0;
    }

    .skylight-dialog-header {
      height: 22px;

      .skylight-close-button {
        @include close-button();
      }

      .skylight-title {
        margin: 9px 0 0 14px;
        padding: 0;
        font-size: 12px;
        font-weight: normal;
        color: #cccccc;
        user-select: none;
        cursor: default;
      }
    }
  }
}
