.SnackBarMessage {
  position: relative;
  display: none;
  transition: all 0.1s ease-in;
  opacity: 1;

  font-family: $font-family-normal;
  font-weight: 300;
  background: $chrome-bg;
  color: $chalk;
  border-top: 1px solid $chrome-outlines;
  min-height: 60px;
  box-sizing: border-box;

  &.hidden { opacity: 0; }
  &.display { display: block; }

  .message-content {
    display: flex;
    width: 70%;
    padding: 10px 0;
    margin: 0 auto;

    cursor: default;
    outline: none;
  }
  .message-text {
    width: 65%;
    margin: 0;
    color: $white;
    font-size: $font-size-m;
    line-height: 1.4em;
    padding-right: 3em;
    opacity: 0.9;

    @include select-text;
    * { @include select-text; }
  }
  .message-buttons {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .Button {
      display: block;
      width: 100%;
      border: none;
    }
  }

  .title {
    display: block;
    font-family: $font-family-condensed;
    font-size: $font-size-l;
    font-weight: 400;
    margin-bottom: .5em;
  }

  .path {
    display: block;
    color: $chalk;
    font-family: $font-family-normal;
    font-size: $font-size-m;
    margin-bottom: .25em;

    .part {}
    .sep { margin: 0 .3em; }
    .colon {}
  }

  &.persistent {
    color: $white !important;
    .title { color: $white !important; }
  }

  &.error {
    .title { color: $red-bright; }

    &.persistent { background: $error; }
  }

  &.confirmation {
    .title { color: $green-bright; }

    &.persistent {
      background: $green;
    }
  }
  &.notification {
    .title { color: $cyan; }

    &.persistent {
      background: $blue;
    }
  }
}
