.SnackBarMessage {
  position: relative;
  display: none;
  margin-top: 7px;
  transition: all 0.3s ease-in;
  left: 0;

  &.hidden {
    left: $snackbar-width;
  }

  &.display {
    display: block;
  }

  &.error {
    a {
      color: #b74f4f;
      border-color: #b74f4f;
    }
  }

  &.confirmation {
    a {
      border-color: #818181;
    }
  }

  &.notification {
    a {
      border-color: #648f27;
    }
  }

  a {
    display: block;
    padding: 11px 11px;
    color: #e5e5e5;
    background-color: #3d3d3d;
    box-shadow: 0 0 7px rgba(0,0,0,.5);

    border: 2px solid #818181;
    border-radius: 6px;

    cursor: default;
    outline: none;

    p { margin: 0; }
  }
}
