.SnackBarMessage {
  position: relative;
  display: none;
  margin-top: 7px;
  transition: all 0.3s ease-in;
  left: 0;

  &.hidden {
    left: $snackbar-width;
  }

  &.display {
    display: block;
  }

  &.error {
    a {
      color: $color-error;
      border-color: $color-error;
    }
  }

  &.confirmation {
    a {
      border-color: $message-border-color;
    }
  }

  &.notification {
    a {
      border-color: $color-success;
    }
  }

  a {
    display: block;
    padding: 11px 11px;
    color: $message-text-color;
    background-color: $message-bg-color;
    box-shadow: 0 0 7px rgba(0,0,0,.5);

    border: 2px solid $message-border-color;
    border-radius: 6px;

    cursor: default;
    outline: none;

    p { margin: 0; }
  }
}
