@mixin custom-search-clear-button() {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background: transparent url('../assets/icons/cross.svg') no-repeat center center;
  &:hover {
    background-color: $coal-bright;
  }
}

.Suggester {
  $width: 400px;

  position: absolute;
  left: 50%;
  top: 5%;
  z-index: 10;

  width: $width;
  margin-left: (-$width);
  box-sizing: border-box;

  @media(max-width: 2 * $width) {
    /* In cases when the window is to narrow to host the whole suggester on the
       right half, use the full width of the half we have */
    width: 50vw;
    margin-left: -50vw;
  }

  padding: 4px;

  display: block;
  background: $sidebar-color-bg;
  color: $sidebar-color-text;

  border: 2px solid $sidebar-color-border;
  border-radius: 6px;

  box-shadow: 0 6px 24px 2px rgba(0,0,0,.6);

  &-libs {}

  .loading-icon {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 18px;
    height: 30px;
    box-sizing: border-box;
    background: $input-color-bg;
    font-size: $font-size-m;
    overflow: hidden;
    text-align: center;

    .fa {
      margin-right: -2px;
      line-height: 32px;
      color: $light-grey-bright;
    }
  }

  input {
    width: 100%;
    font-size: $font-size-l;
    background: $input-color-bg url('../assets/icons/search.svg') no-repeat 6px 11px;
    color: $input-color-text;
    border: 1px solid $input-color-border;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 6px 4px 6px 24px;

    &:focus {
      outline: none;
      border-color: $input-color-border-focus;
    }

    &:disabled {
      opacity: 0.2;
    }

    &::-ms-clear {
      @include custom-search-clear-button();
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      @include custom-search-clear-button();
    }
  }


  &-container {
    max-height: 600px;
    cursor: default;

    &-blocker {
      display: block;
      background: transparent;
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: default;
    }

    .error, .hint {
      display: block;
      margin: 1em 0 .5em 0;
      font-size: $font-size-m;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
  }

  &-item {
    // Keeping a height of every line of the item the same is cruicial
    // because at most times content will overflow (description is too
    // long). To be sure the content is clipped accurately between lines
    // the line height is fixed and inner elements should not add any
    // non-complementary vertical margins and paddings
    $line-height: 15px;
    $padding-vert: 6px;
    $title-margin: 3px;

    padding: ($padding-vert + $title-margin) 4px 0 4px;
    // The border is an artificial bottom-padding hiding overflown content
    border-bottom: $padding-vert solid transparent;
    height: 3 * $line-height;
    position: relative;
    overflow: hidden;

    border-radius: 2px;

    &--library {
      height: 4 * $line-height;

      .add {
        display: block;
        font-size: $font-size-s;
        padding-top: 2px;

        .author, .license {
          display: inline-block;
          padding-right: 2em;
        }
      }
    }

    &.is-highlighted {
      background: $sidebar-color-bg-selected;
    }

    .path {
      display: block;
      font-size: $font-size-l;
      color: $sidebar-color-text-hover;
      margin-bottom: $title-margin;
      margin-top: -$title-margin;
      line-height: $line-height;

      .version {
        font-size: $font-size-m;
        margin-left: 0.2em;
      }
    }
    .description {
      color: $sidebar-color-subtitle;
      display: block;
      font-size: $font-size-m;
      line-height: $line-height;
      overflow: hidden;
    }
  }

  mark {
    background: rgba($olive, 0.5);
    box-shadow: 0 0 2px rgba($olive, 0.5);
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
}
