.Suggester {
  position: absolute;
  left: 50%;
  top: 5%;

  width: 400px;
  margin: 0 0 0 -200px;
  box-sizing: border-box;

  padding: 4px;

  display: block;
  background: $sidebar-color-bg;
  color: $sidebar-color-text;

  border: 2px solid $sidebar-color-border;
  border-radius: 6px;

  box-shadow: 0 6px 24px 2px rgba(0,0,0,.6);

  &.with-helpbar {
    margin-left: -490px;
  }

  input {
    width: 100%;
    font-size: $font-size-l;
    background-color: $input-color-bg;
    color: $input-color-text;
    border: 1px solid $input-color-border;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 6px 4px;

    &:focus {
      outline: none;
      border-color: $input-color-border-focus;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &-container {
    max-height: 600px;
    cursor: default;

    &-blocker {
      display: block;
      background: transparent;
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: default;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
  }

  &-item {
    padding: 6px 4px;
    height: 40px;
    overflow: hidden;

    border-radius: 2px;

    &.is-highlighted {
      background: $sidebar-color-bg-selected;
    }
    &:hover, &:focus {
      background: $sidebar-color-bg-hover;
    }

    .path {
      display: block;
      font-size: 14px;
      color: $sidebar-color-text-hover;
      margin-bottom: 2px;
      margin-top: -2px;
      line-height: 1.2;
    }
    .description {
      display: block;
      font-size: $font-size-m;
      height: 28px;
      padding-top: 2px;
      overflow: hidden;
    }
  }

  mark {
    background: rgba(255,255,0,.25);
    box-shadow: 0 0 2px rgba(255,255,0,.25);
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
}
