@mixin header-vertical-centered {
  height: 22px;
  padding: 8px 0;
}

.TableLog {
  position: relative;
  width: 100%;
  height: 100%;

  flex: 1;
  flex-grow: 1;
  flex-flow: column;

  &-header {
    height: 40px;
    overflow: hidden;
    padding: 1px 3px 1px 8px;

    .sourceSelector {
      @include header-vertical-centered;
      float: left;
      margin-right: 1rem;

      label {
        color: $chalk;
        margin-right: .5rem;
      }

      select {
        width: 300px;
        text-overflow: ellipsis;
      }
    }
    .sheets {
      @include header-vertical-centered;
      float: left;
      margin-left: 1rem;

      .currentSheet {
        display: inline-block;
        margin: 0 .5rem;
        color: $chalk;
      }

      button {
        height: 22px;
      }
    }
    .actions {
      @include header-vertical-centered;
      float: right;
      margin-left: 1rem;

      button {
        margin-left: 2px;

        .fa {
          margin-right: .5em;
        }
      }
    }
  }

  &-content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;

    background: $grey;

    .no-data {
      position: absolute;
      top: 50%;
      margin-top: -.5em;

      width: 100%;
      text-align: center;

      color: $chalk;
      font-size: $font-size-l;
    }

    .data-grid {
      margin-top: -2px; // compensate border-spacing
    }

    @include styled-scrollbar();
  }
}
