.Tabs {
  background: $chrome-outlines;
  display: flex;
  flex-direction: row;
  height: 30px;

  .Sidebar-title {
    display: flex;
    flex-grow: unset;
  }
  .TabsContainer {
    width: auto;
    display: flex;
    flex-grow: 1;
  }

  .ScrollTabs {
    padding: 4px 8px 0 8px;
    border: none;
    background: $chrome-outlines;
    color: $color-tabs-unactive-text;
    font-weight: bold;

    &:hover {
      color: $color-tabs-active-text;
      cursor: pointer;
    }
  }
}
