.TabsItem {
  display: inline-block;

  margin: 4px 1px 0 0;
  padding: 0 10px 0 14px;
  height: 26px;

  box-sizing: border-box;

  background: $color-tabs-unactive-background;
  color: $color-tabs-unactive-text;
  line-height: 30px;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0, .5);
  cursor: default;
  white-space: nowrap;

  &:hover, &:focus {
    background: $color-tabs-hover-background;
  }
  &.is-active {
    background: $color-tabs-active-background;
    color: $color-tabs-active-text;
  }

  &.is-sorting {
    z-index: 10000;
  }

  &.TabsItem--PATCH {}
  &.TabsItem--DEBUGGER {
    color: $color-tabs-debugger-text;
    background: $color-tabs-unactive-background;
    font-weight: 700;

    &.is-active {
      color: $color-tabs-debugger-text;
      background: $color-tabs-debugger-background;
    }
  }

  .tab-name {
    display: inline-block;
    margin-right: 6px;

    vertical-align: middle;
  }

  .tab-close {
    display: inline-block;
    padding: 6px;

    color: $color-tabs-unactive-text;
    font-size: 1.4em;
    line-height: 1;

    vertical-align: middle;

    &:hover, &:focus {
      cursor: default;
      color: $color-tabs-hover-text;
    }
  }
}
