$tab-height: 26px;

.TabsItem {
  display: inline-block;

  margin: 4px 1px 0 0;
  padding: 0 10px 0 14px;
  height: $tab-height;
  line-height: $tab-height + 1; // add 1px to compensate optical center

  box-sizing: border-box;

  background: $color-tabs-unactive-background;
  color: $color-tabs-unactive-text;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0, .5);
  cursor: default;
  white-space: nowrap;

  &:hover, &:focus {
    background: $color-tabs-hover-background;
  }
  &.is-active {
    background: $color-tabs-active-background;
    color: $color-tabs-active-text;
  }

  &.is-sorting {
    z-index: 10000;
  }

  &.TabsItem--PATCH {}
  &.TabsItem--DEBUGGER {
    color: $color-tabs-debugger-text;
    background: $color-tabs-unactive-background;
    font-weight: 700;

    &.is-active {
      color: $color-tabs-debugger-text;
      background: $color-tabs-debugger-background;
    }
  }

  .tab-name {
    display: inline-block;
    margin-right: 6px;
    height: $tab-height;
    vertical-align: bottom;
  }

  .tab-close {
    display: inline-block;

    color: $color-tabs-unactive-text;
    font-size: $font-size-l;

    box-sizing: border-box;
    padding: 0 6px;
    height: $tab-height;
    vertical-align: bottom;
    text-align: center;


    &:hover, &:focus {
      cursor: default;
      color: $color-tabs-hover-text;
    }
  }
}
