.Toolbar {
  font-size: $font-size-l;

  position: relative;
  display: block;
  background-color: $color-ctrl-background;
  color: $color-ctrl-background-text;
  
  @mixin button-toolbar {
    display: block;
    float: right;
    height: 32px;
    padding: 0 12px;
    border: 0;
    margin-left: 1px;

    font-size: $font-size-m;
  }

  .logo {
    display: inline-block;
    padding: 5px 10px;
    color: #7A838F; // TODO: will be replaced by SVG logo
  }

  .project-meta {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
  }

  .LoginButton {
    @include button-toolbar;
  }
  .UserButton {
    @include button-toolbar;
    float: left;
  }
  .UserMenu li button {
    @include button-toolbar;
  }
}
