.Workarea {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;

  & > .reflex-layout > .reflex-element > div {
    flex-direction: column;
  }

  .Deployment-pane {
    min-height: 24px;
  }
}

.Workarea-content {
  &.isCollapsed .reflex-splitter {
    display: none;
  }
}

.Workarea-inner {
  position: relative;
  display: flex;
  flex-grow: 1;
}
