
#canvas {
    background-color: #777;
}

.node rect.outline {
    fill: #555;
}

.node .outline {
    stroke: black;
    stroke-width: 1px;
}

text {
    font-family: Ubuntu, sans;
    fill: white;
}

.endpoint text {
    font-size: 10px;
    transform: translate(0, -1px);
}
