
.Pin {
  .symbol {
    fill: $color-canvas-face;
    stroke: $color-canvas-face-stroke;
  }

  .label {
    font-family: $font-family-mono;
    font-weight: 500;
    fill: $color-canvas-background-text;
    dominant-baseline: central;
  }

  &:hover {
    .symbol {
      fill: color-canvas-hover($color-canvas-face);
    }
  }

  &.is-selected {
    .symbol {
      stroke: $color-canvas-selected-faded;
    }
  }

  &.is-valid {
    .symbol {
      fill: $color-canvas-ok;
    }
  }

  &.is-almost-valid {
    .symbol {
      fill: $color-canvas-almost-ok;
    }
  }

  &.is-property {
    .pinLabel {
      opacity: 0.5;
    }
  }
}

:focus .Pin.is-selected {
  .symbol {
    stroke: $color-canvas-selected;
  }
}