@import '../../component.styl'

.control-panel-widget
  component()
  height 10%
  color darkgray
  background-color white
  padding 1rem
  width 100%
  border 1px solid red
  .patch-hardware-action
    component()
    height 2rem
    width 80%
    padding-left 10%
    padding-right 10%
    padding-top 0.1rem
    padding-bottom 0.1rem
    font-size 10px
  .patch-hardware-action:hover
    background-color red
    color white
    font-size 14px
    font-weight bold
