<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="/compat.js"></script>
        <script src="/lib/d3.js" charset="utf-8"></script>
        <script>
            var example = '{{ example }}';
        </script>
        <script src="/bower_components/json5/lib/json5.js"></script>
        <script src="/dao/nodes.js"></script>
        <script src="/models/patch.js"></script>
        <script src="/graph.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,500,700,400italic&subset=latin,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet/less" type="text/css" href="/graph.less">
        <link rel="stylesheet" type="text/css" href="/lib/reset.css">
        <script src="/lib/less.js"></script>
    </head>
    <body onload="visualize()">
    </body>
</html>
