<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,500,700,400italic&subset=latin,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/lib/reset.css">
    <script src="/web/bundle.js" defer></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <script>var example = '{{ example }}';</script>
</html>
