<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="/compat.js"></script>
        <script src="/lib/d3.js" charset="utf-8"></script>
        <!--<script src="https://code.jquery.com/jquery-2.1.4.js" charset="utf-8"></script>-->
        <script>
            var datum = {{ datum }};
        </script>
        <script src="/graph.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,500,700,400italic&subset=latin,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet/less" type="text/css" href="/graph.less">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    </head>
    <body onload="visualize()">
    </body>
</html>
