
.Link {
  stroke: $color-canvas-face-stroke;
  stroke-width: 1px;

  &:hover {
    .line {
      stroke: color-canvas-hover($color-canvas-face-stroke);
    }
  }

  &.is-selected {
    .line {
      stroke: $color-canvas-selected-faded;
    }
  }

  &.is-selected:hover {
    .line {
      stroke: color-canvas-hover($color-canvas-selected);
    }
  }
}

:focus .Link.is-selected {
  .line {
    stroke: $color-canvas-selected;
  }
}