
.Node {
  .body {
    fill: $color-canvas-face;
    stroke: $color-canvas-face-stroke;
    stroke-width: 1px;
  }

  &:hover {
    .body {
      fill: color-canvas-hover($color-canvas-face);
    }
  }

  &.is-selected {
    .body {
      stroke: $color-canvas-selected;
    }
  }

  &.is-ghost {
    opacity: 0.8;
  }
}
