.PatchWrapper {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: 200px;
  background: #808080;
  padding: 20px;
  overflow: hidden;
  box-shadow: inset 2px 0 10px rgba(0,0,30,.3);
}