$snackbar-width: 200px;


.SnackBar-List {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: $snackbar-width;
}

.SnackBar-Error {
  position: relative;
  display: block;
  margin-top: 1px;
  padding: 8px 16px;
  color: #fff;
  background: #600;
  border-bottom: 1px solid #400;
  transition: all 0.3s ease-in;
  left: 0;

  &.hide {
    left: $snackbar-width;
  }
}