
.figure.align-right {
  text-align: center;
}

div.figure p.caption {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  text-align: left;
}

div.figure p.caption:before {
  content: '◼ ';
  color: black;
}
