.ProjectBrowserTree {
  width: $sidebar-width;
  height: 300px;
  background: $sidebar-background;
  color: $sidebar-color;
  padding: 8px 0;
  overflow: auto;

  box-sizing: border-box;

  * { box-sizing: border-box; }

  .f-no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .m-tree {
    position: relative;
    overflow: hidden;
    font-family: $font-family-normal;
    font-size: $font-size-m;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .m-draggable {
    position: absolute;
    opacity: 0.8;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .m-node {
    box-sizing: border-box;

    &.placeholder {
      border: 1px dashed #ccc;

      & > * {
        visibility: hidden;
      }
    }


    .inner {
      position: relative;
      cursor: pointer;
      padding-left: 12px;
    }
    .node {
      display: block;
      padding: 4px 6px 4px 10px;
      overflow: hidden;

      &.is-active {
        border-left: 100px solid #fff;
        border-right: 100px solid #fff;
        margin-left: -100px;
        margin-right: -100px;
        background: #fff;
        color: #006;
      }
      &.is-current {
        // font-weight: bold;
        color: red;
      }

      .icon {
        position: relative;
        left: -4px;
      }
    }
    .collapse {
      position: absolute;
      left: 0;
      padding: 2px 6px;
      cursor: pointer;
    }
    .children {
      display: block;
    }

    .caret-down:before {
      font-size: $font-size-m;
      content: '\25BE';
    }
    .caret-right:before {
      font-size: $font-size-m;
      content: '\25B8';
    }
  }

}

:focus .ProjectBrowserTree .node.is-active {
  background: $color-button-primary-background;
  border-left: 100px solid $color-button-primary-background;
  border-right: 100px solid $color-button-primary-background;
  color: $color-button-primary-text;
}