.UserPanel {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: right;

  .fa {
    margin-right: 0.7em;
  }

  .LoginForm {
    font-size: $font-size-m;
    color: $color-basic-text;

    h2 {
      margin-top: 0;
    }

    input {
      padding: 4px 6px;
    }
  }

  .LoginButton {
    @include button-alt;
  }

  .UserButton {
    @include button-alt;
  }

}