@import '../component.styl'

.patch-canvas-widget
  component()
  box-model border-box
  border 5px ridge gray
  background-color lightgoldenrodyellow
  width 80%
  height 100%
  .patch-name
    component()
    width 100%
    height 22px
    background-color lightsteelblue
    color black
    text-align center
  svg
    component()
    font-size 11px
    cursor default
    width 100%
    height calc(100% - 22px) // FIXME: we should not use calc
