
$node-color: #555;

#canvas {
  background-color: #999;
  cursor: default;

  text {
    font-family: Ubuntu, sans;
    font-size: 12px;
    fill: white;
  }
}

.node {
  rect.outline {
    fill: $node-color;
  }

  .outline {
    stroke: black;
    stroke-width: 1px;
  }

  .pin {
    stroke: black;
    stroke-width: 1px;
    fill: $node-color;
  }

  &.selected {
    .outline {
      stroke: red;
    }
  }
}

.link {
  stroke: black;
  stroke-width: 1px;
  fill: none;

  &.selected {
    stroke: red;
  }
}

.rubber-line {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
