.nodeRect
  rect
    fill: lightgrey;
    stroke: black;
    strokeWidth: 2;
    
    &.selected
      stroke: red;
    &:hover
      fill: lightblue;
  [text]
    fill: black

  &.node_category
    // Functional = grey
    &1
      rect
        fill: #888A85;
      [text]
        fill: white
    // Hardware = purple 
    &2
      rect
        fill: #9E8E9C;
      [text]
        fill: white
    // Configuration = green
    &3
      rect
        fill: #96A38A;
      [text]
        fill: white
    // Watch = pink
    &4
      rect
        fill: #CC97B3;
      [text]
        fill: white
    // User patch = blue?
    &5
      rect
        fill: #6A729A;
      [text]
        fill: white