@mixin icon($url) {
  &:before {
    content: '';
    display: block;
    line-height: 0;

    width: 100%;
    height: 100%;
    background: url($url) no-repeat center center;
  }
}

.icon-newpatch {
  @include icon('../assets/icons/newpatch.svg');
}
.icon-addlib {
  @include icon('../assets/icons/addlib.svg');
}
.icon-contextmenu {
  @include icon('../assets/icons/contextmenu.svg');
}

.icon-projectBrowser {
  @include icon('../assets/icons/projectBrowser.svg');
}
.icon-inspector {
  @include icon('../assets/icons/inspector.svg');
}
.icon-helppanel {
  @include icon('../assets/icons/help.svg');
}
.icon-account {
  @include icon('../assets/icons/account.svg');
}

.icon-quick-upload {
  @include icon('../assets/icons/quick-upload.svg');
}
.icon-debug {
  @include icon('../assets/icons/debug.svg');
}
.icon-filter {
  @include icon('../assets/icons/filter.svg');
}
.icon-clear-log {
  @include icon('../assets/icons/clear-log.svg');
}
