$font-family-normal: 'Roboto', sans-serif;
$font-family-condensed: 'Roboto Condensed', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-family-display: 'Roboto Slab', sans-serif;

$font-size-xs: 8px;
$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 16px;

$color-success: #579205;

$color-canvas-background: $dark-deep;
$color-canvas-background-gridlines: $dark-light;
$color-canvas-face: #646464;
$color-canvas-face-light: #A7A7A7;
$color-canvas-face-text: #a7a7a7;
$color-canvas-selected: #4ed5ed;
$color-highlight: #eeeeee;

$color-datatype-string: #B99039;
$color-datatype-number: #2e8f6c;
$color-datatype-boolean: #9F5497;
$color-datatype-pulse: #6965BD;
$color-datatype-generic: $chalk;
$color-datatype-dead: $error;

$color-node-fill: #222222;
$color-node-outline: #bbbbbb;
$color-pin-fill: #262626;

$color-watch-node-text: $color-canvas-face-text;
$color-watch-node-fill: $color-node-fill;
$color-watch-node-outline: #506a35;
$color-watch-node-active-text: #FFF;
$color-watch-node-active-fill: #3d4931;
$color-watch-node-active-outline: #86cc23;
$color-watch-node-highlight-outline: #bce88e;

$color-comment-text: #d0ccc0;
$color-comment-handle: #605f5b;

$color-pinlabel: $color-canvas-face-text; //#8b8b8b;

$color-toolbar-background: #b3b3b3;
$color-toolbar-foreground: #000;

$color-tabs-background: $chrome-outlines;
$color-tabs-unactive-background: $coal-bright;
$color-tabs-hover-background: $grey;
$color-tabs-active-background: $color-canvas-background;
$color-tabs-unactive-text: $chalk;
$color-tabs-active-text: $color-canvas-selected;
$color-tabs-hover-text: $white;

$color-tabs-debugger-background: #3d4931;
$color-tabs-debugger-text: #82b948;

$sidebar-width: 200px;

$sidebar-color-bg: $chrome-bg;
$sidebar-color-bg-even: $chrome-bg;
$sidebar-color-bg-hover: $grey;
$sidebar-color-bg-selected: $blackberry;
$sidebar-color-bg-selected-hover: $blackberry-light;
$sidebar-color-text: $chalk;
$sidebar-color-text-hover: $chalk;
$sidebar-color-border: $chrome-outlines;
$sidebar-color-subtitle: $light-grey;

$input-color-text: #cccccc;
$input-color-bg: #373737;
$input-color-border: #666666;
$input-color-border-focus: $color-canvas-selected;

$input-option-highlighted: #555555;

$button-bg-color-dark: #444444;
$button-bg-color-hover-dark: #555555;
$button-bg-color-light: #cccccc;
$button-border-color: #777777;
$button-border-color-active-dark: #999999;
$button-border-color-active-light: #555555;
$button-fg-color-dark: #cccccc;
$button-fg-color-light: black;

$modal-fg-color: #cccccc;
$modal-fg-color-light: black;
$modal-bg-color-light: #cccccc;
