
$font-family-normal: 'Roboto', sans-serif;
$font-family-condensed: 'Roboto Condensed', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-family-display: 'Roboto Slab', sans-serif;

$font-size-xs: 8px;
$font-size-s: 9px;
$font-size-m: 11px;
$font-size-l: 18px;
$font-size-xl: 28px;

$color-canvas-background: #313131;
$color-canvas-background-gridlines: #2a2a2a;
$color-canvas-face: #646464;
$color-canvas-face-light: #A7A7A7;
$color-canvas-face-text: #a7a7a7;
$color-canvas-selected: #4ed5ed;
$color-highlight: #eeeeee;

$color-datatype-string: #B99039;
$color-datatype-number: #2e8f6c;
$color-datatype-boolean: #9F5497;
$color-datatype-pulse: #6965BD;

$color-node-fill: #222222;
$color-node-outline: #bbbbbb;
$color-pin-fill: #262626;

$color-watch-node-text: $color-canvas-face-text;
$color-watch-node-fill: $color-node-fill;
$color-watch-node-outline: #506a35;
$color-watch-node-active-text: #FFF;
$color-watch-node-active-fill: #3d4931;
$color-watch-node-active-outline: #86cc23;
$color-watch-node-highlight-outline: #bce88e;

$color-comment-text: #d0ccc0;
$color-comment-handle: #605f5b;

$color-pinlabel: $color-canvas-face-text; //#8b8b8b;

$color-toolbar-background: #b3b3b3;
$color-toolbar-foreground: #000;

$color-tabs-background: #2D3030;
$color-tabs-unactive-background: #2b2b2b;
$color-tabs-hover-background: #444444;
$color-tabs-active-background: $color-canvas-background;
$color-tabs-unactive-text: #cccccc;
$color-tabs-active-text: #4ed5ed;
$color-tabs-hover-text: #FFF;

$color-tabs-debugger-background: #3d4931;
$color-tabs-debugger-text: #82b948;

$snackbar-width: 220px;
$sidebar-width: 200px;

$sidebar-color-bg: #3d3d3d;
$sidebar-color-bg-even: #444444;
$sidebar-color-bg-hover: #5f5f5f;
$sidebar-color-bg-selected: #616077;

$sidebar-color-text: #cdcbc7;
$sidebar-color-text-hover: white;

$sidebar-color-border: #595959;

$sidebar-color-bg-tabs: #373737;
$sidebar-color-bg-tabs-selected: #cccccc;
$sidebar-color-text-selected-tab: #000;

$input-color-text: #cccccc;
$input-color-bg: #373737;
$input-color-border: #666666;
$input-color-border-focus: $color-canvas-selected;

$input-option-highlighted: #555555;

$button-bg-color-dark: #444444;
$button-bg-color-hover-dark: #555555;
$button-bg-color-light: #cccccc;
$button-border-color: #777777;
$button-border-color-active-dark: #999999;
$button-border-color-active-light: #555555;
$button-fg-color-dark: #cccccc;
$button-fg-color-light: black;

$modal-fg-color: #cccccc;
$modal-fg-color-light: black;
$modal-bg-color-light: #cccccc;

$color-error: #c33d3d;
$color-success: #579205;

$message-border-color: #818181;
$message-text-color: #e5e5e5;
$message-bg-color: #3d3d3d;
