.ProjectList {
  display: block;
  list-style: none;
  border: 1px solid #777;
  margin: 0;
  padding: 0;

  li {
    display: block;

    margin: 0;
    padding: 0;
    background-color: #3d3d3d;

    &:nth-child(even) {
      background-color: #444444;
    }

    &.error {
      cursor: not-allowed;

      div {
        padding: 10px;
      }

      .message {
        color: #ed5b5b;
        margin: 0;
      }
    }
    &.project {
      cursor: pointer;
    }

    p {
      display: block;
      margin: 0 0 5px 0;
      color: #ccc;

      span {
        font-size: 0.8em;
      }
    }

    .path {
      color: #ccc;
      margin: 0;
    }

    button {
      display: block;
      width: 100%;
      background-color: inherit;

      padding: 10px;
      cursor: pointer;

      text-align: left;
      border: 0;

      &:hover, &:focus {
        background-color: #5f5f5f;
      }
    }
  }
}
