.ProjectList {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  border: 1px solid #777;
  background: #444;

  &.scroll {
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;

  	background:
  		/* Shadow covers */
  		linear-gradient(#444 30%, rgba(68,68,68,0)),
  		linear-gradient(rgba(68,68,68,0), #444 70%) 0 100%,

  		/* Shadows */
  		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.35), rgba(0,0,0,0)),
  		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.35), rgba(0,0,0,0)) 0 100%;
  	background-repeat: no-repeat;
  	background-color: #444;
  	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  	/* Opera doesn't support this in the shorthand */
  	background-attachment: local, local, scroll, scroll;
  }

  li {
    display: block;

    margin: 0;
    padding: 0;

    &:nth-child(even) {
      background-color: rgba(255,255,255,.02);
    }

    &.error {
      cursor: not-allowed;

      div {
        padding: 10px;
      }

      .message {
        color: #ed5b5b;
        margin: 0;
      }
    }
    &.project {
      cursor: pointer;
    }

    p {
      display: block;
      margin: 0 0 5px 0;
      color: #ccc;

      span {
        font-size: 0.8em;
      }
    }

    .path {
      color: #ccc;
      margin: 0;
    }

    button {
      display: block;
      width: 100%;
      background-color: inherit;

      padding: 10px;
      cursor: pointer;

      text-align: left;
      border: 0;

      &:hover, &:focus {
        background-color: rgba(255,255,255,.1);
      }
    }
  }
}
