// TODO: use normalize.css?

body, html {
  font-family: $font-family-normal;
  font-size: $font-size-m;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: $chrome-bg;
}

* {
  @include noselect();
  cursor: default;
}

input, textarea {
  user-select: auto;
  cursor: text;
}
select {
  user-select: auto;
  cursor: default;
}

*:focus {
  outline: none;
}
