// TODO: use normalize.css?

body, html {
  font-family: $font-family-normal;
  font-size: $font-size-m;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none;
}
