
@mixin button-primary() {
  cursor: pointer;
  background: $color-button-primary-background;
  color: $color-button-primary-text;
  border: 0;

  &:hover {
    background: $color-button-primary-background-hover;
  }
}

@mixin button-secondary() {
  cursor: pointer;
  background: $color-button-secondary-background;
  color: $color-button-secondary-text;
  border: 0;

  &:hover {
    background: $color-button-secondary-background-hover;
  }
}

@mixin inspector-widget() {
  padding: 4px;
  margin-bottom: 2px;
  // border-top: 1px solid #ccc;
  overflow: hidden;

  font-size: $font-size-m;
  font-family: $font-family-condensed;
  line-height: $font-size-l;
  vertical-align: baseline;

  label {
    display: block;
  }
  input {
    float: right;
  }

  &:hover, &:focus {
    background: #fff;
    
    label {
      color: #823906;
    }
  }
}
